
            .mentor-container-grid {
                display: grid;
                grid-template-columns: 320px 1fr;
                gap: 25px;
                align-items: start;
            }
            @media (max-width: 992px) {
                .mentor-container-grid {
                    grid-template-columns: 1fr;
                }
            }
            .mentor-profile {
                padding: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 12px;
                border: 1px solid var(--border-color);
            }
            .mentor-feed-card {
                padding: 30px;
                border-radius: 12px;
                border: 1px solid var(--border-color);
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        